<h1><img src="/images/books.png" alt="Books Icon" style="width:50px; height:auto;"> 
All Books    
</h1>

<h2>Add a Book</h2>
{{! CREATE form }}
<form class='cuForm' id='create_book_form' method='POST' action='/books-new'>
    <label for='create_book_title'>Title: </label>
    <input type='text' name='book_title' id='create_book_title' required />

    <label for='create_book_author'>Author: </label>
    <input type='text' name='author_names' id='create_book_author' required />

    <label for='create_book_genre'>Genre: </label>
    <input type='text' name='genre_names' id='create_book_genre' required />

    <label for='create_book_call_num'>Call Number: </label>
    <input type='text' name='book_call_num' id='create_book_call_num' maxlength='6' required />

    <label for='create_book_quantity'>Quantity: </label>
    <input type='number' name='book_quantity' id='create_book_quantity' min='0' value='1' required />

    <input type='submit' />
</form>

<br><br>
{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            
            <th>Book ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Call Number</th>
            <th>Quantity</th>  
            <th>Update Quantity </th>
            <th>Remove Book</th>
          
            
        </tr>
    </thead>
    <tbody>
        {{! For each row, print the book_id, title, call_num, and quantity }}
        {{#each books}}
        <tr>
            <td>{{this.book_id}}</td>
            <td>{{this.title}}</td>
            <td>{{this.author}}</td>
            <td>{{this.genre}}</td>
            <td>{{this.call_num}}</td>
            <td><span id='quantity_{{this.book_id}}'>{{this.quantity}}</span></td>
            {{! DELETE form }}
            {{! UPDATE quantity buttons }}
            <td>
                <button type ='button' class='increase_quantity' data-book-id='{{this.book_id}}' data-quantity='{{this.quantity}}'>+</button>
                <button type ='button' class='decrease_quantity' data-book-id='{{this.book_id}}' data-quantity='{{this.quantity}}'>-</button>
                  
            </td>
            <td>
                <form class='delete_book_form' method='POST' action='/books-delete'
                    onsubmit="return confirm('Are you sure you want to delete {{this.title}}?')">
                    <input type='hidden' name='delete_book_id' value='{{this.book_id}}' />
                    <input type='hidden' name='delete_book_title' value='{{this.title}}' />
                    <button type='submit' id= "delete_button">Delete</button>
                </form>
            </td>

        </tr>
        {{/each}}
    </tbody>
</table>

<script src="/js/books.js"></script>
{{!-- 
<h2>Update a Book</h2>
{{! UPDATE form }}
<form class='cuForm' id='update_book_form'>
    <label for='update_book_id'>Book to Update: </label>
    <select name='update_book_id' id='update_book_id' required>
        <option value='' disabled selected>Select a Book</option>
        {{#each books}}
        <option value='{{this.book_id}}' required>
            {{this.title}}
        </option>
        {{/each}}
    </select>
    <!-- <label for='update_book_title'>New Title: </label>
    <input type='text' name='update_book_title' id='update_book_title' />
    <label for='update_book_call_num'>New Call Number: </label>
    <input type='text' name='update_book_call_num' id='update_book_call_num' maxlength='6' /> -->
    <label for='update_book_quantity'>New Quantity: </label>
    <input type='number' name='update_book_quantity' id='update_book_quantity' min='0' required />
    <input type='submit' />
</form>
 --}}
