
{{! UPDATE form }}
<h2>Update a Person</h2>
<form class='cuForm' id='update_person_form'>
    <label for='update_person_id'>Person to Update: </label>
    <select name='update_person_id' id='update_person_id' required>
        <option value='' disabled selected>Select a Person</option>
        {{#each people}}
        <option value='{{this.member_id}}' 
                data-first-name='{{this.first_name}}'
                data-last-name='{{this.last_name}}'
                data-address='{{this.address}}'
                data-email='{{this.email}}'
                data-phone-number='{{this.phone_number}}'
                data-fee-total='{{this.fee_total}}'required>
                
            
            {{this.member_id}}
            -
            {{this.first_name}}
            {{this.last_name}}
        </option>
        {{/each}}
    </select>
    <br>

   <label for='update_person_first_name'>First Name: </label>
    <input type='text' name='update_person_first_name' id='update_person_first_name' />
    <br>

    <label for='update_person_last_name'>Last Name: </label>
    <input type='text' name='update_person_last_name' id='update_person_last_name' />
    <br>

    <label for='update_person_address'>Address: </label>
    <input type='text' name='update_person_address' id='update_person_address' />
    <br>

    <label for='update_person_email'>Email: </label>
    <input type='email' name='update_person_email' id='update_person_email' />
    <br>

    <label for='update_person_phone_number'>Phone Number: </label>
    <input type='text' name='update_person_phone_number' id='update_person_phone_number' />
    <br>

    <label for='update_person_fee_total'>Fee Total: </label>
    <input type='number' step='0.01' name='update_person_fee_total' id='update_person_fee_total' />
    <br>


    <input type='submit' id="submit_button"/>
</form> 
<script> 
    // Auto -fill form fields when a person is selected
    document.getElementById('update_person_id').addEventListener('change', function() {
        const selectedOptions = this.options[this.selectedIndex];
        // Extract member data from the selected option
        const firstName =  selectedOptions.getAttribute('data-first-name') || '';
        const lastName = selectedOptions.getAttribute('data-last-name') || '';
        const address = selectedOptions.getAttribute('data-address') || '';
        const email = selectedOptions.getAttribute('data-email') || '';
        const phoneNumber = selectedOptions.getAttribute('data-phone-number') || '';
        const feeTotal = selectedOptions.getAttribute('data-fee-total') || '';
        // Populate the form fields
        document.getElementById('update_person_first_name').value = firstName;
        document.getElementById('update_person_last_name').value = lastName;
        document.getElementById('update_person_address').value = address;
        document.getElementById('update_person_email').value = email;
        document.getElementById('update_person_phone_number').value = phoneNumber;
        document.getElementById('update_person_fee_total').value = feeTotal;
    });
</script>
