<h1>Book Orders</h1>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            <th>Order ID</th>
            <th>Member First Name</th>
            <th>Member Last Name</th>
            <th>Date Checked Out</th>
            <th>Due Date</th>
            
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the id, first_name, last_name, homeworld and age }}
        {{#each orders}}
        <tr>
            <td>{{this.order_id}}</td>
            <td>{{this.member}}</td>
            <td>{{this.member_last_name}}</td>
            <td>{{this.order_date}}</td>
            <td>{{this.due_date}}</td>

            {{! View Book Details button}}
            <td><button onclick="window.location.href='/order-details';">
                View Book Details
            </button></td>

            {{! DELETE form }}
            <form id='delete_person_form' 
                onsubmit="return confirm('Are you sure you want to check in order #{{this.order_id}}?')">
              
                <input type='hidden' name='delete_person_id' value='{{this.member_id}}' />
                <input type='hidden' name='delete_person_name' value='{{this.first_name}} {{this.last_name}}' />
                <td>
                    <button type='submit'>
                        Check In
                    </button>
                   
                </td>
            </form>
        </tr>
        {{/each}}
    </tbody>
</table>

<br><br>
<button onclick="window.location.href='/bookorders-new';">
    Create New Order
</button>
