<h1>Books Checked Out - Detail</h1>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            <th>Book Order ID</th>
            <th>Order ID</th>
            <th>Book Title</th>
            <th>Quantity</th>
            <th>Member ID</th>
            
            <th></th>
         
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the id, first_name, last_name, homeworld and age }}
        {{#each orderdetail}}
        <tr>
            <td>{{this.book_order_id}}</td>
            <td>{{this.order_id}}</td>
            <td>{{this.book_title}}</td>
            <td>{{this.quantity}}</td>
            <td>{{this.member_id}}</td>

           
            {{! DELETE form }}
            <form id='delete_person_form' 
                onsubmit="return confirm('Are you sure you want to delete {{this.first_name}} {{this.last_name}}?')">
              
                <input type='hidden' name='delete_person_id' value='{{this.member_id}}' />
                <input type='hidden' name='delete_person_name' value='{{this.first_name}} {{this.last_name}}' />
                <td>
                    <button type='submit'>
                        Check In
                    </button>
                   
                </td>
            </form>
        </tr>
        {{/each}}
    </tbody>
</table>
